/* GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    position: relative;
}

/* AVATAR */
.avatar {
    line-height: 90px;
    vertical-align: middle;
    margin-left: 5px;
}

.avatar img{
    height: 60px;
    width: 60px;
    border-radius:50%;
}

/* ICONS */
.icons {
    line-height: 75px;
    margin-top: 15px;
    vertical-align: middle;
    float: right;
}
.icons i {
    font-size: 30px;
    margin-left: 5px;
    color: #b1b1b1;
    padding: 10px;
}

/* CONTACT */
.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 90px;

}

/* SFONDO */
.greenstripe {
    height: 120px;
    width: 100%;
    background-color: #009788;

}

.gradient-background {
    background-color: #d6dbd7;
    width: 100%;
    height: calc(100vh - 120px);
}


/* CONTAINER APP */
.container {
    width: 80vw;
    left: 10vw;
    height: 95vh;
    top: 2vh;
    position:absolute;
    padding: 0;
}


/* HEADER */
header {
    width: 100%;
    height: 90px;
    background-color: #eaeaea;
}
.mypart{
    width: 30%;
    height: 100%;
    border-right: 1px solid black;
    float: left;
    display: flex;
    justify-content: space-between;
}
.contact-part {
    width: 70%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}
/*  LEFT ASIDE */
aside {
    float: left;
    height: 100%;
    width: 30%;
    background-color: green;
}
.banner {
    height: 90px;
    width: 100%;
    background-color: pink;
}
.search {
    height: 60px;
    width: 100%;
    background-color: violet;
}
.conversations {
    height: calc(100% - 150px);
    width: 100%;
    background-color: cyan;
}

/* RIGHT PART */
main {
    width: 100%;
    height: calc(100% - 90px);
    background-color: yellow;
}

.active-conversation {
    height: calc(100%);
    width: 100%;
}
.chat {
    height: calc(100% - 100px);
    width: 100%;
    background-color: brown;
}
.type-box {
    height : 100px;
    width: 100%;
    background-color: grey;
}
